/* body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} */

.checkbox_input {
  transform: scale(1.4);
  margin-top: 10px;
}
.checkbox_input_1 {
  transform: scale(1.4);
  margin-top: -35px;
}
.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input__modifier {
  padding: 0rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  background: white;
  color: black;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none;
}

.quantity-input__modifier--left {
  border-radius: 3px 0 0 3px;
}

.quantity-input__modifier--right {
  border-radius: 0 3px 3px 0;
}

.quantity-input__modifier:hover {
  background: #dcdcdc;
  color: #a7a4a4;
}

.quantity-input__screen {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  background: #f7f4f4;
  color: black;
}

.gioHang {
  letter-spacing: 3.3px;
  font-size: 22px;
  font-weight: 400;

}
.cart-tbody {
  width: 100%;
  float: left;
}
.cart-item {
  background-color: transparent;
  padding: 15px 0;
  margin: 15px;
  
}
.cart-item .row{
  border-bottom: 1px solid #dbdbdb;
}
.cart-item .col-right {
  padding-left: 0;
  display: flex;
  align-items: center;
  height: 180px;
}
.cart-item .col-right .box-product {
  width: 350px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;

}
.cart-item .col-right .box-product .name {
  font-size: 17px;
  margin-bottom: 7px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 0;

}
.name a {
  color: #242424;
  font-weight: 500;
}
.cart-item .col-right .box-product .action {
  position: relative;
  padding: 0 !important;
  margin-bottom: 0;
  margin-top: 0;
}
.cart-item .col-right .box-product .action .btn-link {
  border: 0;
  color: #916841;
  font-size: 13px;
  position: static;
  padding: 0;
  line-height: 1.1;
}
/* box price */
.cart-item .col-right .box-price {
  float: left;
  width: 110px;
  padding-right: 7px;
}
.box-price .price {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  padding-top: 0;
  color: #916841;
}
.col-right .quantity-block {
  width: 120px;
  float: right;
}
/* col-3 */

.each-row {
  width: 100%;
  clear: both;
}
.each-row .box-style {
  background-color: transparent;
  padding: 17px 0 21px 0;
  border-bottom: 1px solid #dbdbdb;
}
.list-info-price strong {
  float: right;
  font-weight: 700;
}
.list-info-price span {
  float: left;
  font-weight: 700;
}
.total2 {
  font-weight: 500;
}
.total2 .text-label {
  margin-top: 5px;
  display: inline-block;
  font-weight: 500
}
.total2 .amount {
  float: right;
}
.total2 .amount p strong {
  color: #916841;
  font-size: 22px;
  font-weight: 700;
}