.title-header {
    position: relative;
  }
  .title-header::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    width: 15%;
    height: 1px;
    background-color: #999999;
  }
      .panel-no-style {
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }
      .title-section {
        margin: 80px 0px 0px 0px;
      }
      h2.title-header {
        font-size: 16px;
        line-height: 30px;
        color: #999999;
        letter-spacing: 10.2px;
        text-transform: uppercase;
        padding: 0px 0px 3em 12em;
        font-weight: bold;
        position: relative;
      }
      .panel-no-style {
        display: flex;
         -ms-flex-wrap: wrap;
        flex-wrap: nowrap;
        -ms-justify-content: space-between;
        justify-content: space-between;
      }
      .panel-grid-cell {
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      .so-panel.widget.widget_black-studio-tinymce.widget_black_studio_tinymce.panel-first-child.panel-last-child {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .top_item {
        position: relative;
      }
      .count_item {
        top: 15px;
      }
      .top_item .count_item {
        position: absolute;
        font-size: 70px;
        line-height: 30px;
        top: 10px;
        color: #ebebeb;
        font-weight: bold;
        
      }
      .text_lh {
        margin: 0px;
        line-height: 30px;
      }
      .phone_lh {
        font-size: 16px;
        font-weight: bold;
        color: #000;
      }