/* Add your global styles here */

.activation-code {
    direction: ltr;
    position: relative;
}

.activation-code::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid;
    border-color: #ccc;
    transition: opacity 0.3s ease;
}

.activation-code>span {
    position: absolute;
    display: block;
    font-size: 13px;
    color: #ccc;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
}

.activation-code .activation-code-inputs {
    display: flex;
    flex-flow: row nowrap;
}

.activation-code .activation-code-inputs input {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    border: 0;
    outline: 0;
    min-width: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
    border-bottom: 2px solid;
    border-color: #ccc;
    margin-right: 8px;
    opacity: 0;
}

.activation-code .activation-code-inputs input:last-child {
    margin-right: 0;
}

.activation-code.active::before {
    opacity: 0;
}

.activation-code.active .activation-code-inputs input {
    opacity: 1 !important;
}

.activation-code .activation-code-inputs input:focus {
    border-color: #46b2f0 !important;
}

.activation-code.active>span {
    transform: translate(0, -100%);
    line-height: 30px;
    opacity: 0.6;
}

/* Add your additional styles here */