.product-card .sale-box {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  background: red;
  position: absolute;
  top: 10px; /* Thay đổi vị trí để nằm sát đầu */
  z-index: 1; /* Thay đổi chỉ số z để nằm dưới ảnh */
  right: -3px; /* Thay đổi vị trí để nằm sát phải */
}

.product-card .product-card__inner .product-card__title {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-card__title:hover{
  color: green;
}


/* price */
.product-card .product-card__inner .product-price {
  font-size: 12px;
  font-weight: 500;
  color: #1c1c1c;
  margin-top: 10px;
  text-align: center;
}

.product-card .product-card__inner .product-price .discount-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-card__inner .product-price .discount-and-original-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card .product-card__inner .product-price .original-price {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

.product-card .product-card__inner .product-price .original-price span {
  margin-left: 3px;
  text-decoration: line-through;
  color: #bbb;
}
/* end price */

.product-card__image img {
  max-width: 100%;
  max-height: 100%;
}
.evo-button {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid #1c1c1c;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-style: normal;
  background-color: #fff; /* Màu nền trắng */
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  color: #000; /* Màu chữ đen */
}

.evo-button:hover {
  background-color: #000; /* Màu nền đen khi hover */
  color: #fff; /* Màu chữ trắng khi hover */
}

.product-single__series {
    font-size: 13px;
    text-transform: uppercase;
    color: #bfbfbf;
    margin-top: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    min-height: 13px;
}
.zoom {
    padding: 0px;
    transition: transform .3s;
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .zoom:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    border: 1px solid #af9839;
  }

  .image-with-text {
    position: relative;
    display: inline-block;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    color: rgb(27, 27, 63);
    font-size: 23px;
    font-weight: 500;
    text-align: center;
  }
  .overlay-text1 {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    color: rgb(27, 27, 63);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
  .overlay-text:hover {
    color: green;
  }
  .overlay-text1:hover {
    color: green;
  }


.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 110%;
  height: auto;
  /* object-fit: cover; */
  transition: transform 0.3s ease-in-out;
}
.image:hover {
  transform: scale(1.1);
}

/* OUTFIT */
.outfit-content{
  width: 955px;
}
.body-outfit{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 490px;
}
.outfit-image{
  -webkit-box-flex: 0;
  flex: 0 1 auto;
}

.outfit-product{
  -webkit-box-flex: 0;;
  flex: none;
  width: 290px;
  margin: 0 90px;
}


.sidebar_single_post {
  background: url("https://laforce.vn/wp-content/themes/banhang/images/bg_free.png");
  margin: 6em 0px 0px 0px;
  overflow: auto;
  background-size: cover;
}
.container_{
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.sidebar_single_post .textwidget ul {
  overflow: auto;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  display: table;
  list-style: none;
}

.sidebar_single_post .textwidget ul li:first-child {
  border-left: none;
  background:  no-repeat url("https://laforce.vn/wp-content/themes/banhang/images/icon_security.png");
  background-position: 10%;
}

.sidebar_single_post .textwidget ul li:nth-child(2) {
  background:  no-repeat url("https://laforce.vn/wp-content/themes/banhang/images/icon_baohanh.png");
  background-position: 20%;
  padding: 1em 4em 1em 9em;
}

.sidebar_single_post .textwidget ul li {
  float: left;
  color: #fff;
  padding: 1em 4em 1em 7em;
  border-left: 1px solid #58824b;
}

.sidebar_single_post .textwidget ul li:last-child {
  background:  no-repeat url("https://laforce.vn/wp-content/themes/banhang/images/icon_car.png");
  background-position: 15%;
  /* float: right; */
  max-width: 380px;
  padding: 0em 0em 0em 9em;
}

.title-header {
  position: relative;
}
.title-header::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20%;
  height: 2px;
  background-color: #999999;
}

.title-section {
  margin: 80px 0px 0px 0px;
}

/* h2.title-header {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  padding: 0px 0px 3em 12em;
  font-weight: bold;
  position: relative;
} */

.title-header .title_blog a {
  color: #1c1c1c;
  letter-spacing: 3.2px;
  font-size: 23px;
  transition: color 0.45s ease;
  font-weight: 400;
  text-transform: uppercase;
}

.title-header a:hover {
   color: green;
}

.title_blog a:hover{
  color: green;
}

.title_blog a {
  color: #1c1c1c;
  letter-spacing: 3.2px;
  font-size: 23px;
  transition: color 0.45s ease;
  font-weight: 350;
}




  