.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa bảng và thanh phân trang nếu cần */
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 5px; /* Điều chỉnh khoảng cách giữa các trang trong thanh phân trang */
}

.fixed-column {
    position: sticky;
    right: 0;
    background-color: white; /* Màu nền của cột */
    z-index: 1;
}